*{
	box-sizing: border-box;
	text-align: center;
}

body{
	background-image: url("..images/ptountas4.png");
}

h1{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

.navbar{
	border-bottom: 2px solid;
	border-color: #cccccc;
	background-color: #ffffff;
	padding: 46px 155px 15px 150px;
	width: 1267px;
	right: 0px;
	left: 0px;
	right: 1278px;
	bottom: 92px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6666;
}

li {
	display: inline-block;
	padding: 14px 16px;
	color: green;
	text-align: center;
	float: right;
	text-decoration: none;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 

}

.big-box{
	display: inline-block;
	width: 1000px;
	padding: 50px 25px 25px 50px;
}

.box{
	display: inline-block;
	width: 70%	;
	background-color: #ffffff;
	border: solid;
	border-color: #e1e1e1;
	padding: 15px 30px 30px 30px;
}

.connect-box{
	display: inline-block;
	float: right;
	width: 250px;
	background-color: #ffffff;
	border: solid;
	border-color: #e1e1e1;
	padding: 10px 20px 20px 10px;
}

p {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.absolute_name_bar{
	position: absolute;
	background-color: #464F54;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	color: white;
	width: 300px;
	height: 90px;
	top: 7px;
	bottom: 92px;
	left: 156px;
	right: 156px;
	padding-left: 20px;
	padding-right: 20px;
}

.name {
	color: grey;
}	

#bio-image{
	float: left;
	width: 220px;
	margin: 6px 20px 10px 0px;
}

header{
	color: #cccccc;
	text-align: right;
	font-size: 120px;
}


form{
	text-align: left;
}

/*.contact-me{
	text-align: left;
	border-bottom: 2px solid;
	border-color: #e1e1e1;
}*/



 /*IMAGES CSS*/
.imgHolder {
    position: relative;
    overflow:hidden;
    padding: 5px 5px 5px 5px;
}

.imgHolder p{
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    float: left;
    padding: 5px 5px 5px 5px;
}



#contact{
	text-align: left;
}

/*#picture1{
	width: 275px;
	margin-bottom: 10px;
	float: left;
}

#jets{
	width: 275px;
	margin-bottom: 10px;
	float: right;
}

#image4{
	width: 275px;
	margin-bottom: 10px;
	float: left;
}

#image5{
	width: 275px;
	float: right;
	margin-bottom: 10px;
}

#image6{
	width:275px;
	float: left;
	margin-bottom: 10px
}

#image7{
	width:275px;
	float: left;
	margin-bottom: 10px
}*/

div.contact-form{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

input[type=text] {
    width: 100%;
    height: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	text-align: left;
	transition: width 0.4s ease-in-out
}

input[type=text]:focus{
border: 3px solid #555;
outline: none;
}

input[type=button], input[type=submit], input[type=reset] {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-color: #464F54;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
}

textarea{
width: 100%;
height: 200%;
font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
outline: none;
text-align: left;
resize: none;
}

footer {
	border-color: 2px solid;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #464F54;
    color: white;
    border-color: #cccccc;
}

.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

/*
TRYING SOMETHING NEW
/**/

ul.rig {
	list-style: none;
	font-size: 0px;
}

ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
}


ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}




 /*MEDIA QUERIES 980 768 640*/   

@media (min-width: 769px) and (max-width: 980px){

		ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6666;
}

	li {
		display: inline-block;
		padding: 5px 16px;
		color: green;
		text-align: center;
		text-decoration: none;
		font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 

	}


	.big-box{
		display: inline-block;
		width: 700px;
		background-color: #ffffff;
		border: solid;
		border-color: #e1e1e1;
		padding: 10px;
		margin-top: 30px;c 
	}

	.box{
		display: inline-block;
		width: 450px;
		float: left;
		background-color: #ffffff;
		border: solid;
		border-color: #e1e1e1;
		padding: 15px 30px 30px 30px;
}

	.imgHolder {
    position: relative;
    display: block;	
    overflow:hidden;
    padding: 5px 5px 5px 5px;
}

.connect-box{
	display: inline-block;
	float: right;
	width: 200px;
	background-color: #ffffff;
	border: solid;
	border-color: #e1e1e1;
	padding: 10px 20px 20px 10px;

}

img.center{
	display: block;
	}

	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}

}




@media (max-width: 768px){

		.navbar{
	border-bottom: 2px solid;
	border-color: #cccccc;
	padding-top: 0px;
	padding-right: 150px;
	padding-bottom: 30px;
	padding-left: 150px;
	background-color: #ffffff;
	margin-top: 100px;
	height: 10px;
	width: 850px;
	right: 0px;
	left: 0px;
	bottom: 92px;
}


	.absolute_name_bar{
	position: absolute;
	background-color: #464F54;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	color: white;
	width: 300px;
	height: 90px;
	top: 7px;
	bottom: 92px;
	left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	}

		li {
		display: inline-block;
		padding: 5px 16px;
		color: green;
		text-align: center;
		text-decoration: none;
		/*float: inherit;*/
		font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 

	}

		.big-box{
		display: inline-block;
		width: 600px;
		background-color: #ffffff;
		border: solid;
		border-color: #e1e1e1;
		padding: 10px;
		margin-top: 30px;
	}


		.box{
		display: inline-block;
		width: 100%;
		background-color: #ffffff;
		border: solid;
		border-color: #e1e1e1;
		padding: 15px 30px 30px 30px;
	}

	img.center{
	display: block;
}

	.connect-box{
	display: inline-block;
	float: left;
	width: 100%;
	background-color: #ffffff;
	border: solid;
	border-color: #e1e1e1;
	padding: 10px 20px 20px 10px;
	margin-top: 30px;
	}


		ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
	



}



@media screen and (max-width: 640px){

	.navbar{
	border-bottom: 2px solid;
	border-color: #cccccc;
	padding-top: 0px;
	padding-right: 150px;
	padding-bottom: 30px;
	padding-left: 150px;
	background-color: #ffffff;
	margin-top: 100px;
	height: 10px;
	width: 100%;
	right: 0px;
	left: 0px;
	bottom: 92px;
}

	.absolute_name_bar{
	position: absolute;
	background-color: #464F54;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	color: white;
	width: 100%;
	height: 90px;
	top: 7px;
	bottom: 92px;
	left: 0px;
	right: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6666;
}

	li {
		display: inline-block;
		padding: 5px 16px;
		color: green;
		text-align: center;
		text-decoration: none;
		font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 

	}


	.big-box{
		display: inline-block;
		width: 400px;
		background-color: #ffffff;
		border: solid;
		border-color: #e1e1e1;
		padding: 10px;
		margin-top: 30px;
	}

	.box{
		display: inline-block;
		width: 100%;
		background-color: #ffffff;
		border: solid;
		border-color: #e1e1e1;
		padding: 15px 30px 30px 30px;
}

	.imgHolder {
    position: relative;
    display: block;	
    overflow:hidden;
    padding: 5px 5px 5px 5px;
}

.connect-box{
	display: inline-block;
	float: left;
	width: 100%;
	background-color: #ffffff;
	border: solid;
	border-color: #e1e1e1;
	padding: 10px 20px 20px 10px;
	margin-top: 30px;
}

img.center{
	display: block;
	}

	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}

}




}







